<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="se.mdh.driftavbrottklient" type="SE.MDH.DriftavbrottKlient.Configuration.ConfigurationHandler, se.mdh.driftavbrottklient"/>
  </configSections>

  <se.mdh.driftavbrottklient server="server.domain" port="3301" systemid="DriftavbrottKlient-Test"/>
  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
