<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="se.mdh.driftavbrottklient" type="SE.MDH.DriftavbrottKlient.Configuration.ConfigurationHandler, se.mdh.driftavbrottklient" />
  </configSections>

  <se.mdh.driftavbrottklient server="server" port="5115" systemid="DriftavbrottKlient-Test" />


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>