<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="se.mdh.driftavbrott.service" type="SE.MDH.DriftavbrottKlient.Configuration.ConfigurationHandler, MDH.Driftavbrott.Facade"/>
    </configSections>

    <!-- Driftavbrott konfiguration -->
    <se.mdh.driftavbrott.service url="http://localhost:3301/mdh-driftavbrott/v1"/>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        </assemblyBinding>
    </runtime>
</configuration>
